@section Scripts
{
    @Scripts.Render("~/bundles/history")
}

<h2>History</h2>
<div id="history" style="height: 700px; width: auto;"></div>
<a href="#" id="load-all">Load All (Might be slow, there's a lot to load)</a><img src="~/Images/spinner.gif" id="row-loading-spinner" alt="Loading" style="display:none"/>
