@using WebApp.Models
<div id="deploy-doc" style="display: none;">
    <p>Not the deploy info you were looking for? Try changing the PR number first.</p>

    <h2>Deploy Doc</h2>
    <form action="/api/v1/deploys" method="POST" class="form-horizontal" id="deploy-doc-form" role="form">
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="action">What are ya doin?</label>
            <select id="anythingElse" name="action" class="form-control" data-hudl-required="true" data-desc="What are ya doin'?">
                <option>Deploy</option>
                <option>SQL Script</option>
                <option>Config Change</option>
                <option>Jobs</option>
            </select>
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="component">Component</label><br />
            <select id="component" name="component" class="form-control" data-hudl-required="true" data-desc="Component">
                @foreach (var c in ((List<Component>) ViewBag.Components).OrderBy(x => x.Name))
                {
                    <option>@c.Name</option>
                }
            </select>
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="repository">Repository</label>
            <select id="repository" name="repository" class="form-control" data-hudl-required="true" data-desc="Component"></select>
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="pullRequestId">PR</label>
            <input type="number" id="pullRequestId" name="pullRequestId" class="form-control" placeholder="Pull Request # in Github" data-hudl-required="true" data-desc="Pull Request ID">
            <img src="~/Images/spinner.gif" alt="Loading..." id="pull-request-spinner" style="display:none;" />
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="branch">Branch</label>
            <input type="text" id="branch" name="branch" class="form-control" placeholder="Name of the Github Branch..." data-hudl-required="true" data-desc="Branch Name" />
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <input type="hidden" id="type" name="type" data-hudl-required="true" data-desc="Type (Via the button flow)" data-hudl-remains-hidden="true" />
            <label for="bug-fix">Bug Fix?</label><br />
            <div name="bug-fix" class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" id="bug-fix-yes">
                    <input type="radio" />Yes
                </label>
                <label class="btn btn-primary" id="bug-fix-no">
                    <input type="radio" />No
                </label>
            </div>
        </div>
        <div id="hotfix-choice" class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10" style="display: none;">
            <label for="hotfix-choice-div">Hotfix?</label><br />
            <div name="hotfix-choice-div" class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" id="hotfix-yes">
                    <input type="radio" />Yes
                </label>
                <label class="btn btn-primary" id="hotfix-no">
                    <input type="radio" />No
                </label>
            </div>
        </div>
        <div id="feature-choice" class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10" style="display: none;">
            <label for="feature-choice-div">Type</label><br />
            <div name="feature-choice-div" class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" id="enhancement">
                    <input type="radio" />Enhancement
                </label>
                <label class="btn btn-primary" id="new-feature">
                    <input type="radio" />New Feature
                </label>
                <label class="btn btn-primary" id="task">
                    <input type="radio" />Task
                </label>
            </div>
        </div>
        <div id="how-bad-was-it-scores" style="display: none;">
            <div id="bad-branch-div" class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="badBranch">Branch that broke it</label>
                <input type="text" id="badBranch" name="badBranch" class="form-control" data-hudl-required="true" data-desc="Bad Branch Name" />
            </div>
            <div id="prod-ticket-div" class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="prodTicket">Prod-Ticket</label>
                <input type="number" id="prodTicket" name="prodTicket" class="form-control" data-desc="Prod-Ticket Number" placeholder="Just the number" />
            </div>
            <div id="ticket-div" class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="ticket">Ticket</label>
                <input type="text" id="ticket" name="ticket" class="form-control" data-desc="Ticket" placeholder="Project-Number (i.e. THOR-17620)" />
            </div>
            <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="hotfixComponent">Hotfix Component</label><br />
                <select id="hotfixComponent" name="hotfixComponent" data-hudl-required="true" data-desc="Hotfix Component">
                    <option>Sign Up</option>
                    <option>Add Team</option>
                    <option>Billing</option>
                    <option>Video Playback</option>
                    <option>Library Tree/Playlists</option>
                    <option>Breakdown Data</option>
                    <option>Overlays</option>
                    <option>Manage Page</option>
                    <option>Manage Roster</option>
                    <option>Manage Coaches</option>
                    <option>Manage Groups</option>
                    <option>Manage Schedule</option>
                    <option>Manage Library</option>
                    <option>Manage Storage</option>
                    <option>Manage Privacy</option>
                    <option>Manage Breakdown Data</option>
                    <option>Manage Seasons</option>
                    <option>Team Page</option>
                    <option>Athlete Page</option>
                    <option>Highlights</option>
                    <option>Prem HL - Team</option>
                    <option>Prem HL - Athlete</option>
                    <option>Prem HL - HTML5</option>
                    <option>Filtering</option>
                    <option>Reports</option>
                    <option>Notes</option>
                    <option>Walkthroughs</option>
                    <option>Presentations</option>
                    <option>Offline Presentations</option>
                    <option>Push Recruiting</option>
                    <option>Paid Rec Inboxes</option>
                    <option>Paid Rec Search</option>
                    <option>Paid Rec Boards</option>
                    <option>Paid Rec Regional Pckg</option>
                    <option>Paid Rec Team Pages</option>
                    <option>Paid Rec Athlete Pages</option>
                    <option>Paid Rec Thumbs</option>
                    <option>Exchanges</option>
                    <option>Pooled Exchange</option>
                    <option>EO</option>
                    <option>DVD Authoring</option>
                    <option>DVD Fundraising</option>
                    <option>Admin</option>
                    <option>My Account</option>
                    <option>Misc/Login/Other</option>
                    <option>Attachments</option>
                    <option>Permissions</option>
                    <option>OVE</option>
                    <option>Top Play</option>
                    <option>Practice Scripts</option>
                    <option>Online Basketball</option>
                    <option>Mobile - iOS</option>
                    <option>Mobile - Hudroid</option>
                    <option>Pro Internal</option>
                    <option>Pro Import</option>
                    <option>Hudl Remotes</option>
                    <option>Queues</option>
                    <option>VE Download</option>
                    <option>VE Publish</option>
                    <option>VE Post Publish</option>
                    <option>VE Export</option>
                    <option>Mercury Add Video</option>
                    <option>Mercury Review</option>
                    <option>Mercury Organize</option>
                    <option>Mercury Download</option>
                    <option>Video Editor (app)</option>
                    <option>Windows Mercury (app)</option>
                    <option>Mac Mercury (app)</option>
                    <option>Entire Site (rare)</option>
                    <option>Possession Splitter</option>
                    <option>Fundraising</option>
                    <option>Public Pages</option>
                    <option>Playbook</option>
                </select>
            </div>
            <div id="hotfix-notes-div" class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="hotfixNotes">Hotfix Notes</label>
                <textarea rows="3" id="hotfixNotes" class="form-control" name="hotfixNotes"></textarea>
            </div>
            <div id="special-div" class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="special">Special</label>
                <textarea rows="3" id="special" name="special" class="form-control"></textarea>
            </div>
            <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="qaHudlImpact">QA Hudl Impact</label>
                <select id="qaHudlImpact" name="qaHudlImpact" class="form-control" data-hudl-required="true" data-desc="QA - Hudl Impact">
                    <option value=""></option>
                    <option value="0">0 - None, it's impossible for users to be affected</option>
                    <option value="1">1 - None, we discovered it internally before receiving any calls</option>
                    <option value="2">2 - A couple of calls</option>
                    <option value="3">3 - Support gets a number of calls - this happened to a majority of users OR at a prime time (not both)</option>
                    <option value="4">4 - Support gets a lot of calls, it's a combo of a good % of users and prime usage</option>
                    <option value="5">5 - Support is overwhelmed</option>
                </select>
            </div>
            <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="qaTeamCulp">QA Culpability</label>
                <select id="qaTeamCulp" name="qaTeamCulp" class="form-control" data-hudl-required="true" data-desc="QA - Team Culpability">
                    <option value=""></option>
                    <option value="0">0 - It was a third party that broke this. They suck.</option>
                    <option value="1">1 - Not reasonable to have caught. Extremely isolated case or hardware-specific.</option>
                    <option value="2">2 - Wouldn't expect to catch in a code review, and wasn't laid out in test plan.</option>
                    <option value="3">3 - Reasonable to have caught in a code review or during the course of testing, but was not specifically in test plan.</option>
                    <option value="4">4 - Probably should have been caught in a code review, or the item was in regression, but poorly worded/misunderstood/or not specific enough.</option>
                    <option value="5">5 - Definitely should have been caught. Would have been obvious in a code review or was a clearly outlined part of the test plan.</option>
                </select>
            </div>
            <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="qaUserImpact">QA User Impact</label>
                <select id="qaUserImpact" name="qaUserImpact" class="form-control" data-hudl-required="true" data-desc="QA - User Impact">
                    <option value=""></option>
                    <option value="0">0 - No users were affected, the problem was related to logging.</option>
                    <option value="1">1 - Trivial - Cosmetic problems like mispealt words or misaligned text. Does not affect funtion.</option>
                    <option value="2">2 - Minor - Minor loss of function, or other problem where easy workaround is present. Only affects one or two features of Hudl, or downtime shorter than time it takes to refresh page.</option>
                    <option value="3">3 - Major - Major loss of function that is limited either by shorter downtime, or small scope (only a few features of Hudl go down).</option>
                    <option value="4">4 - Critical - Minor data loss, short periods of being blocked from Hudl or major parts of Hudl.</option>
                    <option value="5">5 - Blocker - Data loss. Blocked from Hudl completely. Or blocked from major part of Hudl.</option>
                </select>
            </div>
            <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="qaInitials">QA Member</label><br />
                <input type="hidden" id="qaInitials" name="qaInitials" placeholder="Quality Assurance..." data-hudl-required="true" data-desc="QA Member">
            </div>
            <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="devHudlImpact">Dev Hudl Impact</label>
                <select id="devHudlImpact" name="devHudlImpact" class="form-control" data-hudl-required="true" data-desc="Dev - Hudl Impact">
                    <option value=""></option>
                    <option value="0">0 - None, it's impossible for users to be affected</option>
                    <option value="1">1 - None, we discovered it internally before receiving any calls</option>
                    <option value="2">2 - A couple of calls</option>
                    <option value="3">3 - Support gets a number of calls - this happened to a majority of users OR at a prime time (not both)</option>
                    <option value="4">4 - Support gets a lot of calls, it's a combo of a good % of users and prime usage</option>
                    <option value="5">5 - Support is overwhelmed</option>
                </select>
            </div>
            <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="devTeamCulp">Dev Culpability</label>
                <select id="devTeamCulp" name="devTeamCulp" class="form-control" data-hudl-required="true" data-desc="Dev - Team Culpability">
                    <option value=""></option>
                    <option value="0">0 - It was a third party that broke this. They suck.</option>
                    <option value="1">1 - Not reasonable to have caught. Extremely isolated case or hardware-specific.</option>
                    <option value="2">2 - Wouldn't expect to catch in a code review, and wasn't laid out in test plan.</option>
                    <option value="3">3 - Reasonable to have caught in a code review or during the course of testing, but was not specifically in test plan.</option>
                    <option value="4">4 - Probably should have been caught in a code review, or the item was in regression, but poorly worded/misunderstood/or not specific enough.</option>
                    <option value="5">5 - Definitely should have been caught. Would have been obvious in a code review or was a clearly outlined part of the test plan.</option>
                </select>
            </div>
            <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="devUserImpact">Dev User Impact</label>
                <select id="devUserImpact" name="devUserImpact" class="form-control" data-hudl-required="true" data-desc="Dev - User Impact">
                    <option value=""></option>
                    <option value="0">0 - No users were affected, the problem was related to logging.</option>
                    <option value="1">1 - Trivial - Cosmetic problems like mispealt words or misaligned text. Does not affect funtion.</option>
                    <option value="2">2 - Minor - Minor loss of function, or other problem where easy workaround is present. Only affects one or two features of Hudl, or downtime shorter than time it takes to refresh page.</option>
                    <option value="3">3 - Major - Major loss of function that is limited either by shorter downtime, or small scope (only a few features of Hudl go down).</option>
                    <option value="4">4 - Critical - Minor data loss, short periods of being blocked from Hudl or major parts of Hudl.</option>
                    <option value="5">5 - Blocker - Data loss. Blocked from Hudl completely. Or blocked from major part of Hudl.</option>
                </select>
            </div>
            <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <label for="devInitials">Dev Member</label><br />
                <input type="hidden" id="devInitials" name="devInitials" placeholder="Developer..." data-hudl-required="true" data-desc="Dev Member">
            </div>
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <input type="hidden" id="jiraLabel" name="jiraLabel">
            <input type="hidden" id="jiraTicketCount" name="jiraTicketCount">
            <label for="project">Project</label>
            <select id="project" name="project" class="form-control" data-hudl-required="true" data-desc="Project">
                @foreach (var p in ((List<Project>) ViewBag.Projects).OrderBy(x => x.Name))
                {
                    <option>@p.Name</option>
                }
            </select>
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="qa">QA</label><br />
            <input type="hidden" id="qa" name="qa" placeholder="Quality Assurance..." data-hudl-required="true" data-desc="QA" data-hudl-remains-hidden="true">
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="dev">DEV</label><br />
            <input type="hidden" id="dev" name="dev" placeholder="Developer..." data-hudl-required="true" data-desc="Developer" data-hudl-remains-hidden="true">
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="design">DES</label><br />
            <input type="hidden" id="design" name="design" placeholder="Designer..." data-hudl-required="true" data-desc="Designer" data-hudl-remains-hidden="true">
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="codeReview">CR</label><br />
            <input type="hidden" id="codeReview" name="codeReview" placeholder="Code Reviewer..." data-hudl-required="true" data-desc="Code Reviewer" data-hudl-remains-hidden="true">
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="codeReview">PM</label><br />
            <input type="hidden" id="projectManager" name="projectManager" placeholder="Project Manager..." data-hudl-required="true" data-desc="Project Manager" data-hudl-remains-hidden="true">
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="notes">Notes</label><br />
            <textarea rows="3" id="notes" name="notes" class="form-control"></textarea>
        </div>
        <div class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="notes">Thread</label>
            <select id="basecampThread" name="basecampThread" class="form-control" data-hudl-required="true" data-desc="Basecamp Thread Choice">
                <option value="-1"></option>
                <option value="0">I'll do it myself (I have an image)</option>
            </select>
            <div id="basecamp-links" style="display: none;">
                <br />
                Links to Threads:
                <br />
            </div>
        </div>
        <div id="basecamp-div" class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <label for="notes">Post</label>
            <textarea rows="4" id="basecamp" name="basecamp" class="form-control"></textarea>
        </div>
        <div id="submit-controls" class="form-group col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <button type="submit" id="deploy-doc-submit" class="btn btn-primary btn-lg">Submit</button>
            <img src="~/Images/spinner.gif" alt="Loading..." id="deploy-doc-submit-spinner" style="display:none;" />
        </div>
    </form>
</div>