<div id="hotfix" style="display: none;">
    <div class="container">
        <h1>Hotfix</h1>
        Prod Ticket: <span id="prod-ticket"></span><br />
        Dev Ticket: <span id="hotfix-view-ticket"></span><br />
        Bad Branch: <span id="bad-branch"></span><br />
        Notes: <span id="hotfix-view-notes"></span><br />
        Special: <span id="hotfix-view-special"></span><br />
        <h2>Dev</h2>
        Team Culpability: <span id="dev-team-culp"></span><br />
        Hudl-Wide Impact: <span id="dev-hudl-impact"></span><br />
        Affected User Impact: <span id="dev-affected-users"></span><br />
        Initials: <span id="dev-initials"></span><br />
        <h2>QA</h2>
        Team Culpability: <span id="qa-team-culp"></span><br />
        Hudl-Wide Impact: <span id="qa-hudl-impact"></span><br />
        Affected User Impact: <span id="qa-affected-users"></span><br />
        Initials: <span id="qa-initials"></span>
    </div>
</div>
