<div id="hotfix" style="display: none;">
    <div class="form-horizontal" >
        <h1>Hotfix</h1>
        <label class="control-label" for="prod-ticket">Prod Ticket</label>
        <div class="controls">
            <input type="number" id="prod-ticket" />
            <span id="prod-ticket-link"></span>
        </div>
        <label class="control-label" for="hotfix-view-ticket">Dev Ticket</label>
        <div class="controls">
            <input type="text" id="hotfix-view-ticket" />
            <span id="hotfix-view-ticket-link"></span>
        </div>
        <label class="control-label" for="bad-branch">Branch that broke it</label>
        <div class="controls">
            <input type="text" id="bad-branch" />
        </div>
        <label class="control-label" for="hotfix-view-component">Hotfix Component</label>
        <div class="controls">
            <input type="text" id="hotfix-view-component" />
        </div>
        <label class="control-label" for="hotfix-view-notes">Notes</label>
        <div class="controls">
            <input type="text" id="hotfix-view-notes" />
        </div>
        <label class="control-label" for="hotfix-view-special">Special</label>
        <div class="controls">
            <input type="text" id="hotfix-view-special" /><br />
            <h2>Dev</h2>
        </div>
        <label class="control-label" for="dev-team-culp">Team Culpability</label>
        <div class="controls">
            <input type="number" id="dev-team-culp" />
        </div>
        <label class="control-label" for="dev-hudl-impact">Hudl-Wide Impact</label>
        <div class="controls">
            <input type="number" id="dev-hudl-impact" />
        </div>
        <label class="control-label" for="dev-affected-users">Affected-User Impact</label>
        <div class="controls">
            <input type="number" id="dev-affected-users" />
        </div>
        <label class="control-label" for="dev-initials">Initials</label>
        <div class="controls">
            <input type="text" id="dev-initials" /><br />
            <h2>QA</h2>
        </div>
        <label class="control-label" for="qa-team-culp">Team Culpability</label>
        <div class="controls">
            <input type="number" id="qa-team-culp" />
        </div>
        <label class="control-label" for="qa-hudl-impact">Hudl-Wide Impact</label>
        <div class="controls">
            <input type="number" id="qa-hudl-impact" />
        </div>
        <label class="control-label" for="qa-affected-users">Affected-User Impact</label>
        <div class="controls">
            <input type="number" id="qa-affected-users" />
        </div>
        <label class="control-label" for="qa-initials">Initials</label>
        <div class="controls">
            <input type="text" id="qa-initials"/><br /><br />
            <button type="button" class="btn btn-primary" id="hotfix-save">Save</button>
        </div>
        <img src="~/Images/ratings.png" style="position: absolute; top: 100px; right: 0px" />
    </div>
</div>
