@section Scripts
{
    @Scripts.Render("~/bundles/main")
}
<div class="header">
    <div class="container">
        <h1>Deploys</h1>
    </div>
</div>
<div style="margin-left: 10px; margin-right: 10px;">
    <a href="#" id="new-deploy">Add New Deploy</a>
    <div id="deploys" style="height: 700px; width: auto;"></div>
    <a href="#" id="load-all">Load All (Only if you really need it, because seriously it's a lot of rows and the server is lazy and doesn't want to do that for you)</a>
</div>

@Html.Partial("DeployDoc")
