@section Scripts
{
    @Scripts.Render("~/bundles/main")
}
<div class="header"></div>
<div style="margin-left: 10px; margin-right: 10px;">
    <h2 style="font-family: Papyrus">Will a designer please consider taking some time to make this less bad?</h2>
    <a href="#" id="new-deploy">Add New Deploy</a>
    <div id="deploys" style="height: 700px; width: auto;"></div>
    <a href="#" id="load-all">Load All (Might be slow, there's a lot to load)</a><img src="~/Images/spinner.gif" id="row-loading-spinner" alt="Loading" style="display:none"/>
    <a href="/History" target="_blank">Load History</a>
    <a href="/components" target="_blank">Components</a>
</div>

@Html.Partial("DeployDoc")
@Html.Partial("Hotfix")