@section Scripts
{
    @Scripts.Render("~/bundles/main")
}
<div class="header">
  <div class="container">
	<h1>Deploy</h1>
  </div>
</div>

<div class="container">
    <div id="deploys" style="height: 500px; width: 1400px;"></div>
</div>
