@using WebApp.Models

@section Scripts
{
    @Scripts.Render("~/bundles/components")
}

<h1>Components</h1>
<form id="component-form" action="/api/v1/components" method="POST" >
    <input id="component-name" name="component"></input>
    <button class="btn btn-primary">New</button>
</form>
<ul id="component-list">
    @foreach(var c in (List<Component>)ViewBag.Components){
        <li><h2>@c.Name</h2><button id="@c.Id" class="btn btn-danger delete">Delete</button></li>
    }
</ul>
