@section Scripts
{
    @Scripts.Render("~/bundles/login")
}
<div class="container">
    <div class="login">
        <div class="row">
            <div class="span6">
                <h1>Log in to Black-Mesa</h1>
                <p>Use your domain username and password to login. You do not need to include the domain. For example, my username is alyx.vance</p>
                <p style="font-family: Papyrus">Note that this was copy-pasta'd from Alyx and a Designer should fix this please.</p>
            </div>
        </div>
        <div class="row">
            <form id="login-form">
                <div class="well span6">
                    <div class="row">
                        <div class="span6">
                            <input class="span6" type="text" name="u" id="u" placeholder="Domain Username" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="span6">
                            <input class="span6" type="password" name="p" id="p" placeholder="Password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="pull-right">
                            <button type="submit" id="login" class="btn">Login</button>
                        </div>
                    </div>
	            </div>
            </form>
        </div>
    </div>
</div>